# Ignore local credential files
*client_secret*.json
*clientsecret*.json
token.json
api_keys.json
shared_core/api_keys.json


# Ignore temporary rendering files
temp/
**/temp/

# Ignore rendered output videos
output/
**/output/

# Ignore python caches and logs
__pycache__/
*.pyc
logs/
**/logs/
